<!-- app/views/cocktails/show.html.erb -->
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= render "cocktails/cocktail_card", cocktail: @cocktail %>
      <br>
      <ul class="list-unstyled">
      <% @cocktail.doses.each do |dose| %>
        <li>
        <%= dose.description %>
        <%= dose.ingredient.name %>
        <span> - </span>
        <%= link_to "Delete", cocktail_dose_path(@cocktail, dose),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
        </li>
      <% end %>
      <br>
      <br>
      </ul>
      <%= simple_form_for([@cocktail, @dose]) do |f| %>
        <%= f.error_notification %>

        <%= f.input :description, label: "Describe your dosage here :", input_html: {class: "input-lg"} %>
        <%= f.input :ingredient_id, collection: @ingredients, label_html: {class: "label-lg"} %>

        <%= f.button :submit, class: "text-center" %>
      <% end %>
      <br>
    </div>
  </div>
</div>
